<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @close_relation.userid %>
</p>

<p>
  <b>R0:</b>
  <%= @close_relation.r0 %>
</p>

<p>
  <b>R1:</b>
  <%= @close_relation.r1 %>
</p>

<p>
  <b>R2:</b>
  <%= @close_relation.r2 %>
</p>

<p>
  <b>R3:</b>
  <%= @close_relation.r3 %>
</p>

<p>
  <b>R4:</b>
  <%= @close_relation.r4 %>
</p>

<p>
  <b>R5:</b>
  <%= @close_relation.r5 %>
</p>

<p>
  <b>R6:</b>
  <%= @close_relation.r6 %>
</p>

<p>
  <b>R7:</b>
  <%= @close_relation.r7 %>
</p>

<p>
  <b>R8:</b>
  <%= @close_relation.r8 %>
</p>

<p>
  <b>R9:</b>
  <%= @close_relation.r9 %>
</p>


<%= link_to 'Edit', edit_close_relation_path(@close_relation) %> |
<%= link_to 'Back', close_relations_path %>
