<p id="notice"><%= notice %></p>

<p>
  <b>F0:</b>
  <%= @record.f0 %>
</p>

<p>
  <b>F1:</b>
  <%= @record.f1 %>
</p>

<p>
  <b>F2:</b>
  <%= @record.f2 %>
</p>

<p>
  <b>F3:</b>
  <%= @record.f3 %>
</p>

<p>
  <b>F4:</b>
  <%= @record.f4 %>
</p>

<p>
  <b>F5:</b>
  <%= @record.f5 %>
</p>

<p>
  <b>F6:</b>
  <%= @record.f6 %>
</p>

<p>
  <b>F7:</b>
  <%= @record.f7 %>
</p>

<p>
  <b>F8:</b>
  <%= @record.f8 %>
</p>

<p>
  <b>F9:</b>
  <%= @record.f9 %>
</p>

<p>
  <b>F10:</b>
  <%= @record.f10 %>
</p>

<p>
  <b>F11:</b>
  <%= @record.f11 %>
</p>

<p>
  <b>F12:</b>
  <%= @record.f12 %>
</p>

<p>
  <b>F13:</b>
  <%= @record.f13 %>
</p>

<p>
  <b>F14:</b>
  <%= @record.f14 %>
</p>

<p>
  <b>F15:</b>
  <%= @record.f15 %>
</p>

<p>
  <b>F16:</b>
  <%= @record.f16 %>
</p>

<p>
  <b>F17:</b>
  <%= @record.f17 %>
</p>

<p>
  <b>F18:</b>
  <%= @record.f18 %>
</p>

<p>
  <b>F19:</b>
  <%= @record.f19 %>
</p>

<p>
  <b>F20:</b>
  <%= @record.f20 %>
</p>

<p>
  <b>F21:</b>
  <%= @record.f21 %>
</p>

<p>
  <b>F22:</b>
  <%= @record.f22 %>
</p>

<p>
  <b>F23:</b>
  <%= @record.f23 %>
</p>

<p>
  <b>F24:</b>
  <%= @record.f24 %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
